body {
    background-color: #6f9f5d;
}

h1 {
    text-align: center;
    font-family: Lucida Sans Unicode;
    font-style: bolder;
    font-size: 32pt;
    color: #00008B;
    letter-spacing: 15pt;
}

p {
    text-align: justify;
    font-size: 14pt;
    text-indent: 15pt;
    font-family: Lucida Sans Unicode
}

h2 {
    text-align: center;
    font-size: 16pt;
    color: navy
}

.small {
    font-size: 12pt;
    font-family: Times New Roman;
    text-indent: 2pt;
    text-align: center;
}

.center {
    text-align: center;
    font-size: 14pt;
    text-indent: 15pt;
    font-family: Lucida Sans Unicode
}

a {
    text-decoration: none
}
a{
    color: #34495e;
    line-height: 1.2;
    position: relative;
    padding: 0 14px;
    text-transform: uppercase;
}
a:after {
    content: "";
    height: 100%;
    min-width: 4px;
    background: #34495e;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .5s;
}
a:hover:after {
    min-width: 100%;
    background: #95a5a6;
    opacity: .35;
}

a:hover {
    text-decoration: underline;
}

h2:First-Letter {
    font-size: 125%;
    color: #235179;
}

.zag {
    color: #34495e;
    line-height: 1.2;
    position: relative;
    padding: 0 14px;
    text-transform: uppercase;
}

.zag:First-Letter {
    font-size: 125%;
    color: #3b6698;
}